#ContactUs {
  padding: 100px 0;

  h2,
  h5 {
    text-align: center;
  }

  .box {
    padding: 70px;
    background: white;

    .title {
      font-size: 2rem;
      font-family: $displayFont;
      margin-bottom: 2rem;
    }

    h6 {
      font-size: 0.9rem;
      font-weight: 400;
      color: $titleColor;
      line-height: 1.7rem;
      color: $black;
    }

    p {
      font-weight: 400;
      margin-bottom: 20px;
      strong {
        color: $black;
        text-transform: capitalize;
        font-weight: 600;
      }
      a {
        color: $paragraphColor;
        text-decoration: none;

        &:hover {
          color: red;
          font-weight: 600;
        }
      }
    }
    .service {
      // padding-left: 340px;
    }
  }
}
