#Reviews {
  padding: 100px 0;
  text-align: right;

  .side-img {
    text-align: left;

    img {
      height: 625px;
    }
  }

  h4 {
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 2rem;
  }

  .author {
    font-size: 0.8rem;
    color: $paragraphColor;
    font-weight: 300;
    text-transform: capitalize;
    margin-bottom: 2rem;

    strong {
      font-weight: 700;
      color: $black;
    }
  }

  .arrows {
    .fa-arrow-left,
    .fa-arrow-right {
      font-size: 1.5rem;
      padding: 20px 10px;
      color: $paragraphColor;
      cursor: pointer;
    }
    .fa-arrow-left.ready,
    .fa-arrow-right.ready {
      color: $black;
    }
  }
}
